<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Hjälp</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <p>Detta är version 4.0 av appen Vem Bor Var.</p>
  <p>Denna app är främst till för medlemmarna i Brf Husarvikens Strand.</p>
  <p> Om du har problem, skicka ett mail till
    <a href="mailto:bo.hellgren@husarvikensstrand.se?Subject=VemBorVar">webmaster.</a>
  </p>
  <p> Aviseringar: Har du en gång blockerat aviseringar men har ändrat dig, gör så här: </p>
    <ol>
      <li>Starta webläsaren Chrome och gå till husarviken.firebaseapp.com</li>
      <li>Tryck på menysymbolen - tre prickar i lodrät rad</li>
      <li>Tryck på information - en cirkel med ett i inuti</li>
      <li>Tryck på INSTÄLLNINGAR FÖR WEBBPLATSEN</li>
      <li>Tryck på Aviseringar och ändra till Tillåt</li>
    </ol>
  
  <p>Appen fungerar bäst på enheter med Android eller iOS version 12.</p>
  <p>För den teknikintresserade: Appen är gjord med Ionic version 4 och Angular version 7.</p>
</ion-content>