<ion-header>
  <figure>
    <img src='../../assets/imgs/logga.png' width='100%'>
  </figure>
  <ion-item>
    <ion-back-button></ion-back-button>
    <ion-searchbar placeholder="Namn el. lgh-nr" (ionInput)="getItems($event)"></ion-searchbar>
  </ion-item>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngFor='let member of hits'>
      <ion-col size='2'>{{member.lgh}}</ion-col>
      <ion-col size='2'>{{member.lmv}}</ion-col>
      <ion-col size='7'>{{member.membername}}</ion-col>
      <ion-col size='1'>
        <ion-button size='small' fill='clear' href='/show-floor#{{member.lgh.substring(0,2)}}'>
          <ion-icon name='arrow-round-forward'></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>