
ion-icon {
    color: black;
}

.figure {
    padding-bottom: 0px; 
}
ion-searchbar {
    padding-top: 0px;
}

ion-row {
  height: 20px;
    padding-bottom: 0px;
 
}
ion-icon {
    padding-top: 0px;
    padding-bottom: 15px;
}



