<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inställningar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-item>
    <ion-icon name="notifications"></ion-icon>
    <ion-label class="center">Aviseringar</ion-label>
  </ion-item>
  <p>Vill du få aviseringar från Brf Husarvikens Strand? Det är korta meddelanden som
    visas även om du inte använder appen just då. T ex "Hissen på Taxgatan 3 är felanmäld."
  </p>
  <ion-item>
    <ion-checkbox [checked]="notifChecked" (ionChange)="toggleNotifications($event)" color="secondary"></ion-checkbox>
    <ion-label> &nbsp; &nbsp; Visa aviseringar</ion-label>
  </ion-item>

  <p> </p>

  <ion-item *ngIf="showAddToHomeScreen">
    <img src="../../assets/imgs/if_upload_172619.png" style="float:left;width:24px;margin:5px;">
    <ion-label class="center">Add to Home Screen</ion-label>
  </ion-item>
  <ion-item *ngIf="showAddToHomeScreen">
    <p>Tryck på actions-symbolen överst till höger på skärmen. Välj sedan "Lägg till på hemskärmen".
      Då får du en ikon på hemskärmen som du sedan använder för att starta appen.
    </p>
  </ion-item>
</ion-content>